
*.xcuserstate
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/tandogan.xcuserdatad/xcschemes/CenteredCollectionView.xcscheme
Pods/Pods.xcodeproj/xcuserdata/tandogan.xcuserdatad/xcschemes/Kingfisher.xcscheme
Pods/Pods.xcodeproj/xcuserdata/tandogan.xcuserdatad/xcschemes/Pods-Movee.xcscheme
Pods/Pods.xcodeproj/xcuserdata/tandogan.xcuserdatad/xcschemes/SwiftKeychainWrapper.xcscheme
Pods/Pods.xcodeproj/xcuserdata/tandogan.xcuserdatad/xcschemes/UPCarouselFlowLayout.xcscheme
Movee.xcworkspace/xcuserdata/tandogan.xcuserdatad/UserInterfaceState.xcuserstate
*.xcscheme
*.xcscheme
Movee/BaseModules/.DS_Store
Movee/.DS_Store
.DS_Store
