
*.xcuserstate
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/tandogan.xcuserdatad/xcschemes/CenteredCollectionView.xcscheme
Pods/Pods.xcodeproj/xcuserdata/tandogan.xcuserdatad/xcschemes/Kingfisher.xcscheme
Pods/Pods.xcodeproj/xcuserdata/tandogan.xcuserdatad/xcschemes/Pods-Movee.xcscheme
Pods/Pods.xcodeproj/xcuserdata/tandogan.xcuserdatad/xcschemes/SwiftKeychainWrapper.xcscheme
Pods/Pods.xcodeproj/xcuserdata/tandogan.xcuserdatad/xcschemes/UPCarouselFlowLayout.xcscheme
Movee.xcworkspace/xcuserdata/tandogan.xcuserdatad/UserInterfaceState.xcuserstate
*.xcscheme
*.xcscheme
Movee/BaseModules/.DS_Store
Movee/.DS_Store
.DS_Store
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/ergolu.xcuserdatad/xcschemes/Pods-Movee.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ergolu.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Swinject/LICENSE
Pods/Swinject/README.md
Pods/Swinject/Sources/_Resolver.swift
Pods/Swinject/Sources/Assembler.swift
Pods/Swinject/Sources/Assembly.swift
Pods/Swinject/Sources/Behavior.swift
Pods/Swinject/Sources/Container.Arguments.swift
Pods/Swinject/Sources/Container.Logging.swift
Pods/Swinject/Sources/Container.swift
Pods/Swinject/Sources/Container.TypeForwarding.swift
Pods/Swinject/Sources/DebugHelper.swift
Pods/Swinject/Sources/FunctionType.swift
Pods/Swinject/Sources/GraphIdentifier.swift
Pods/Swinject/Sources/InstanceStorage.swift
Pods/Swinject/Sources/InstanceWrapper.swift
Pods/Swinject/Sources/ObjectScope.Standard.swift
Pods/Swinject/Sources/ObjectScope.swift
Pods/Swinject/Sources/Resolver.swift
Pods/Swinject/Sources/ServiceEntry.swift
Pods/Swinject/Sources/ServiceEntry.TypeForwarding.swift
Pods/Swinject/Sources/ServiceKey.swift
Pods/Swinject/Sources/SpinLock.swift
Pods/Swinject/Sources/Swinject.h
Pods/Swinject/Sources/SynchronizedResolver.Arguments.swift
Pods/Swinject/Sources/SynchronizedResolver.swift
Pods/Swinject/Sources/UnavailableItems.swift
Pods/Target Support Files/Pods-Movee/Pods-Movee-acknowledgements.markdown
Pods/Target Support Files/Pods-Movee/Pods-Movee-acknowledgements.plist
Pods/Target Support Files/Pods-Movee/Pods-Movee-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-Movee/Pods-Movee-frameworks-Debug-output-files.xcfilelist
Pods/Target Support Files/Pods-Movee/Pods-Movee-frameworks-Release-input-files.xcfilelist
Pods/Target Support Files/Pods-Movee/Pods-Movee-frameworks-Release-output-files.xcfilelist
Pods/Target Support Files/Pods-Movee/Pods-Movee-frameworks.sh
Pods/Target Support Files/Pods-Movee/Pods-Movee.debug.xcconfig
Pods/Target Support Files/Pods-Movee/Pods-Movee.release.xcconfig
Pods/Target Support Files/Swinject/Swinject-dummy.m
Pods/Target Support Files/Swinject/Swinject-Info.plist
Pods/Target Support Files/Swinject/Swinject-prefix.pch
Pods/Target Support Files/Swinject/Swinject-umbrella.h
Pods/Target Support Files/Swinject/Swinject.debug.xcconfig
Pods/Target Support Files/Swinject/Swinject.modulemap
Pods/Target Support Files/Swinject/Swinject.release.xcconfig
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/ergolu.xcuserdatad/xcschemes/Pods-Movee.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ergolu.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Target Support Files/Pods-Movee/Pods-Movee-acknowledgements.markdown
Pods/Target Support Files/Pods-Movee/Pods-Movee-acknowledgements.plist
Pods/Target Support Files/Pods-Movee/Pods-Movee-frameworks-Debug-input-files.xcfilelist
Pods/Target Support Files/Pods-Movee/Pods-Movee-frameworks-Debug-output-files.xcfilelist
*.xcconfig
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
*.pbxproj
